#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&pointing_listener {
    status = "okay";
    device = <&pointing_device>;
    compatible = "zmk,input-listener";

    // 通常スクロール処理
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
        &zip_xy_scaler 1 3
        &zip_temp_layer 4 700

    >;

    // スクロールレイヤーの有効化
    scroller {
        layers = <3>;
        input-processors = <
            &zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
            &zip_xy_scaler 1 (-1)
            &zip_xy_to_scroll_mapper
        >;
    };
};
